/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/***************** ROOT AND GLOBAL CODE *******************/

:root {
  /* Colors */
  /* --accent-color-bluemarine: #013441;
  --accent-color-dark-blue: #16263d;
  --accent-color-oldpink: #b05672;
  --accent-color-purpel: #894163; */
  --color-black: #000000;
  --color-grey: #ebe9e2;
  --color-wine: #850036;
  --color-pink: #d97e9b;
  --color-white: #fff;
  --color-darkgrey: #747474;
  /* Typefaces */
  --display-font: "Poiret One", cursive;
  --text-font: "Raleway", sans-serif;
  --font-size-text2: 12px;
  --font-size-title: 30px;
  --font-size-text1: 16px;
  --font-size-subtitle: 20px;
  --font-size-small: 10px;
  --font-size-subtitle2: 25px;
}

h2 {
  font-family: var(--display-font);
  font-size: var(--font-size-subtitle2);
}
/***************** GRID *******************/
.grid-container {
  display: grid;
  grid-template-areas:
    "header aside"
    "home home"
    "work work"
    "about about"
    "contacts contacts"
    "nav nav";
  grid-template-columns: 1fr auto;
}
/*********HEADER**************/
header {
  grid-area: header;
  margin-top: 10px;
  padding-left: 10px;
  display: grid;
  grid-template: auto auto/ auto 1fr;
  transition: opacity 1s;
  z-index: 2;
}
header svg {
  width: 50px;
  grid-column: 1/2;
}
header h1 {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: left;
  font-family: var(--display-font);
  font-size: var(--font-size-subtitle);
  align-self: center;
  padding-left: 10px;
}
header h2 {
  grid-column: 1/2;
  font-family: var(--display-font);
  font-size: var(--font-size-small);
  text-align: center;
}
/*********HOME**************/
#home {
  grid-area: home;
  display: grid;
  height: 550px;
}
.parallax {
  background-image: url("../images/homepage-illustration_2592x1147.png");
  min-height: 430px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250%;
}
#home h2 {
  text-align: center;
  font-family: var(--display-font);
  font-size: var(--font-size-subtitle);
  background-color: var(--color-white);
  padding: 5px 25px 5px 25px;
  margin: -30px 0 30px 0;
}
/* .myName {
  stroke: #000;
  stroke-width: 1px;
  width: 200vw;
  overflow: hidden;
  fill: none;
  top: 15%;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
}

.draw {
  animation: draw 2s cubic-bezier(0, 0.5, 1, 0.1) forwards;
}

@keyframes draw {
  0% {
    fill: none;
  }
  30% {
    fill: rgba(0, 0, 0, 0);
  }
  90% {
    fill: rgba(0, 0, 0, 0.1);
  }
  100% {
    fill: rgba(0, 0, 0, 1);
    stroke-dashoffset: 0;
  }
} */
/*********ASIDE**************/
aside {
  z-index: 3;
  grid-area: aside;
  margin-top: 10px;
  padding-right: 10px;
  justify-self: right;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 90%;
}
aside i {
  color: var(--color-darkgrey);
  width: 20px;
  height: 20px;
  padding: 5px;
}
/*********NAV**************/
#menu {
  grid-area: nav;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr;
}
#menu #back-nav {
  z-index: 1;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
}
#menu nav {
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 2;
}
#menu nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
#menu nav a svg {
  width: 20px;
}
#menu nav a span {
  color: var(--color-white);
  font-family: var(--display-font);
  font-size: var(--font-size-text1);
  font-weight: 600;
  padding-top: 5px;
}
/*********PROJECTS**************/
#work {
  grid-area: work;
}
.lines {
}
.line1 {
  background-image: url(../images/mobile-line-small.png);
  background-size: 100%;
}
.line2 {
  background-image: url(../images/mobile-line-big.png);
  background-size: 100%;
}

/*********ABOUT**************/
#about {
  grid-area: about;
}

/*********ABOUT**************/
#contact {
  grid-area: contacts;
}

/*********ABOUT**************/
footer {
  display: none;
}
/*********LOGOS**************/
.a,
.b,
.e {
  fill: var(--color-white);
}
.b,
.c,
.e {
  stroke: var(--color-white);
  stroke-miterlimit: 10;
  stroke-width: 4px;
}
.c {
  fill: none;
}
