/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/***************** ROOT AND GLOBAL CODE *******************/

:root {
  /* Colors */
  /* --accent-color-bluemarine: #013441;
  --accent-color-dark-blue: #16263d;
  --accent-color-oldpink: #b05672;
  --accent-color-purpel: #894163; */
  --color-black: #000000;
  --color-grey: #ebe9e2;
  --color-wine: #850036;
  --color-pink: #d97e9b;
  --color-white: #fff;
  --color-darkgrey: #747474;
  /* Typefaces */
  --display-font: "Poiret One", cursive;
  --text-font: "Raleway", sans-serif;
  --font-size-small: 12px;
  --font-size-title: 30px;
  --font-size-text1: 16px;
  --font-size-subtitle: 20px;
}

/*********LOGOS**************/
.a,
.b,
.e {
  fill: #000;
}
.b,
.c,
.e {
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}
.c {
  fill: none;
}
